// Variables -------------------------------------
$ui-overlays-border-width: 2px;

// Mixins --------------------------------------
@mixin ui-overlay-overlay-container($color, $content) {
  position: relative;
  overflow: hidden;

  @include ui-overlay-overlay($color, $content);
}

@mixin ui-overlay-overlay($color, $content) {

  &:before {
    content: $content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(lighten($color, 35%), 0.9);
  }
}

// Placeholders --------------------------------------


// Styles --------------------------------------
.ui-overlays {

  &.show-overlays {

    .view-main {
      @include ui-overlay-overlay-container($color-blue, "");
    }

    .view-aside {
      @include ui-overlay-overlay-container($color-purple, "");
    }

    .view-header {
      @include ui-overlay-overlay-container($color-green, ".view-header");
    }

    .view-content {
      @include ui-overlay-overlay-container($color-orange, ".view-content");
    }

    .view-footer {
      @include ui-overlay-overlay-container($color-yellow, ".view-footer");
    }

    .view-status {
      @include ui-overlay-overlay($color-pink, ".view-status");
    }

    .ui-table {
      @include ui-overlay-overlay-container($color-red, ".ui-table");
    }
  }
}
