// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------


// Styles --------------------------------------
.ui-menu {
  flex: 0 0;
  background-color: $color-gray-darker;
  padding: 0 $layout-spacing;
  z-index: $z-index-menu;

  nav {
    display: flex;

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
      }
    }

    a {
      display: flex;
      line-height: 2.25em;
      padding: 0 .75em;
      font-size: 1em;
      color: white;
      align-items: center;

      &:hover {
        background-color: $color-gray;
      }

      i {
        margin-right: .25em;
      }
    }
  }
}
