%list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid $color-border;
  border-radius: $layout-border-radius;

  li {
    border-bottom: 1px solid $color-border;
    padding: .75em 1em;

    &.inactive {
      color: $color-inactive;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}