// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------


// Styles --------------------------------------
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app' !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // my extra styles
  transition: color 0.3s, opacity 0.3s;

  // states
  &.inactive {
    color: $color-inactive;
  }
  &.active {
    color: $color-active;
  }
  &.success {
    color: $color-success;
  }
  &.normal {
    color: $color-normal;
  }
  &.error {
    color: $color-error;
  }
  &.flagged {
    color: $color-flagged;
  }
  &.warning {
    color: $color-warning;
  }
  &.tbd {
    color: $color-tbd;
  }
  &.unset {
    color: $color-unset;
  }
  &.unread {
    color: $color-link;
  }
  &.unprocessed {
    color: $color-unprocessed;
  }
  &.augmentation {
    color: $color-augmentation;
  }
  &.sessionization {
    color: $color-sessionization;
  }
  &.scorer {
    color: $color-scorer;
  }

  // animations
  &.spin {
    animation: spin 2s linear infinite;
  }

  // icons
  &.natural:before {
    content: "\e901";
  }
  &.edit:before {
    content: "\e60d";
  }
  &.source:before {
    content: "\e65c";
  }
  &.rule:before {
    content: "\e668";
  }
  &.delete:before {
    content: "\e681";
  }
  &.flag:before {
    content: "\e690";
  }
  &.archive:before {
    content: "\e69f";
  }
  &.user:before {
    content: "\e728";
  }
  &.stream:before {
    content: "\e77f";
  }
  &.chat:before {
    content: "\e7d7";
  }
  &.loading:before {
    content: "\e8d0";
  }
  &.refresh:before {
    content: "\e8da";
  }
  &.search:before {
    content: "\e922";
  }
  &.check:before {
    content: "\e934";
  }
  &.close:before {
    content: "\e935";
  }
  &.plus:before {
    content: "\e936";
  }
  &.arrow-down:before {
    content: "\e93a";
  }
  &.arrow-left:before {
    content: "\e93b";
  }
  &.arrow-right:before {
    content: "\e93c";
  }
  &.arrow-full-right:before {
    content: "\e944";
  }
  &.maximize:before {
    content: "\e94c";
  }
  &.minimize:before {
    content: "\e94d";
  }
  &.complete:before {
    content: "\e959";
  }
  &.problem:before {
    content: "\e95a";
  }
  &.circle-full:before {
    content: "\e900";
  }
  &.circle:before {
    content: "\e99d";
  }
  &.flow:before {
    content: "\e920";
  }
  &.operator:before {
    content: "\e715";
  }
  &.override:before {
    content: "\e778";
  }
}