@font-face {
  font-family: 'flexview';
  src: url("/fonts/flexview.woff2?9n7e92") format("woff2"), url("/fonts/flexview.ttf?9n7e92") format("truetype"), url("/fonts/flexview.woff?9n7e92") format("woff"), url("/fonts/flexview.svg?9n7e92#flexview") format("svg");
  font-weight: normal;
  font-style: normal; }

@-webkit-keyframes in-up {
  from {
    -webkit-transform: translateY(1em);
            transform: translateY(1em); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes in-up {
  from {
    -webkit-transform: translateY(1em);
            transform: translateY(1em); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes loader {
  0% {
    height: 0;
    width: 0; }
  20% {
    height: 0;
    width: 0;
    border-width: .75em;
    opacity: 1; }
  100% {
    height: 1.5em;
    width: 1.5em;
    border-width: 0;
    opacity: 0; } }

@keyframes loader {
  0% {
    height: 0;
    width: 0; }
  20% {
    height: 0;
    width: 0;
    border-width: .75em;
    opacity: 1; }
  100% {
    height: 1.5em;
    width: 1.5em;
    border-width: 0;
    opacity: 0; } }

* {
  box-sizing: border-box; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

.table {
  display: table;
  width: 100%; }
  .table .row-group {
    display: table-row-group; }
  .table .row {
    display: table-row; }
  .table .cell {
    display: table-cell;
    text-align: left;
    vertical-align: top; }
    .table .cell.align-middle {
      vertical-align: middle; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ui-overlays.show-overlays .view-main {
  position: relative;
  overflow: hidden; }
  .ui-overlays.show-overlays .view-main:before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(146, 207, 242, 0.9); }

.ui-overlays.show-overlays .view-aside {
  position: relative;
  overflow: hidden; }
  .ui-overlays.show-overlays .view-aside:before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(222, 214, 242, 0.9); }

.ui-overlays.show-overlays .view-header {
  position: relative;
  overflow: hidden; }
  .ui-overlays.show-overlays .view-header:before {
    content: ".view-header";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(214, 241, 222, 0.9); }

.ui-overlays.show-overlays .view-content {
  position: relative;
  overflow: hidden; }
  .ui-overlays.show-overlays .view-content:before {
    content: ".view-content";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(249, 229, 182, 0.9); }

.ui-overlays.show-overlays .view-footer {
  position: relative;
  overflow: hidden; }
  .ui-overlays.show-overlays .view-footer:before {
    content: ".view-footer";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(252, 249, 196, 0.9); }

.ui-overlays.show-overlays .view-status:before {
  content: ".view-status";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 225, 234, 0.9); }

.ui-overlays.show-overlays .ui-table {
  position: relative;
  overflow: hidden; }
  .ui-overlays.show-overlays .ui-table:before {
    content: ".ui-table";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(244, 196, 188, 0.9); }

.ui-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .5em 0; }
  .ui-toggle .toggle {
    display: none; }
    .ui-toggle .toggle:checked + .toggle-button {
      background: #50C574; }
      .ui-toggle .toggle:checked + .toggle-button:after {
        left: 50%; }
    .ui-toggle .toggle + .toggle-button {
      outline: 0;
      display: inline-block;
      margin-bottom: 0;
      width: 2em;
      height: 1.1em;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background: #DCDFE0;
      border-radius: 1em;
      padding: 1px;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      border: 1px solid #DCDFE0;
      vertical-align: middle; }
      .ui-toggle .toggle + .toggle-button:after, .ui-toggle .toggle + .toggle-button:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%; }
      .ui-toggle .toggle + .toggle-button:after {
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        left: 0; }
      .ui-toggle .toggle + .toggle-button:before {
        display: none; }
  .ui-toggle span {
    margin-left: .5em;
    color: white; }
