@font-face {
  font-family: 'flexview';
  src:
    url('/fonts/flexview.woff2?9n7e92') format('woff2'),
    url('/fonts/flexview.ttf?9n7e92') format('truetype'),
    url('/fonts/flexview.woff?9n7e92') format('woff'),
    url('/fonts/flexview.svg?9n7e92#flexview') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-sans-family: 'Lato', sans-serif;
$font-serif-family: 'ff-meta-serif-web-pro', 'Times New Roman', serif;