// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------


// Styles --------------------------------------
.ui-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
