// Grays -------------------------
$color-black: #0A0D0F;
$color-gray-darkest: #202324;
$color-gray-darker: #3E4142;
$color-gray-dark: #66696A;
$color-gray: #96999A;
$color-gray-light: #C0C3C4;
$color-gray-lighter: #DCDFE0;
$color-gray-lighterest: #EDF0F1;
$color-gray-lightest: #F6F9FA;
$color-white: #FFFFFF;

// fountain colors
$color-blue: #167FBC;
$color-blue-light: #1BC3F3;
$color-blue-lightest: lighten($color-blue-light, 42%);
$color-green: #50C574;
$color-green-light: lighten($color-green, 35%);
$color-yellow: #F3E61A;
$color-yellow-light: lighten($color-yellow, 15%);
$color-orange: #E8AA14;
$color-red: #DB3B23;
$color-red-light: lighten($color-red, 35%);
$color-purple: #744FC6;
$color-pink: #FF2E6C;

// Social colors
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-pinterest: #cb2027;
$color-google-plus: #dd4b39;
$color-stumble-upon: #EB4924;
$color-linkedin: #007bb6;
$color-tumblr: #32506d;
$color-youtube: #e52d27;

// Feedback Colors ---------------------
$color-success: $color-green;
$color-warning: $color-orange;
$color-info: $color-yellow-light;
$color-error: $color-red;

// Base Colors ---------------------
$color-text: $color-gray-darker;
$color-link: $color-blue;
$color-inactive: $color-gray-light;
$color-active: $color-green;
$color-border: $color-gray-lighter;
$color-hover: $color-blue-lightest;