// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------
%ui-views-view-div {
  padding: 0 $layout-spacing;
}

// Styles --------------------------------------
.ui-views {
  position: relative;
  flex: 1;

  .view {
    display: flex;
    flex-direction: row;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    overflow: hidden;
    z-index: $z-index-view;

    &.active {
      opacity: 1;
      z-index: $z-index-view-active;
      
      &.animate {
        animation: in-up 0.2s $animation-easing;
      }
    }

    &.modal {

      .view-header {
        width: 22em;
        margin: auto;
      }

      .view-content {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .ui-form {
          width: 20em;
        }
      }
    }

    &.has-status {

      .view-status {
        display: flex;
      }
    }

    .view-main {
      flex: 1;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      position: relative;

      &.wide {
        flex: 2;
      }

      &.hidden {
        display: none;
      }
    }

    .view-aside {
      width: 24em;
      background-color: $color-gray-lightest;
      display: flex;
      flex-direction: column;
      position: relative;

      &.hidden {
        display: none;
      }

      &.dark {
        background-color: $color-gray-lighterest;
  
        .view {
          background-color: $color-gray-lighterest;
        }
      }

      &.wide {
        width: 30em;
      }
    }

    .view-header {
      @extend %ui-views-view-div;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      white-space: nowrap;
      padding-bottom: 0;

      h1 {

        a {

          &:after {
            content: " /";
            color: $color-border;
            font-weight: 100;
          }
        }
      }
    }

    .view-content {
      @extend %ui-views-view-div;
      flex: 1;
      overflow: auto;
      position: relative;

      &.hidden {
        display: none;
      }
    }

    .view-handle {
      background-color: gray;
      position: relative;

      &.vertical {
        height: 1px;

        &:after,
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          z-index: $z-index-handle;
          height: .3em;
        }

        &:after {
          top: 100%;
        }

        &:before {
          top: -.3em
        }
      }

      &.horizontal {
        width: 1px;

        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          z-index: $z-index-handle;
          width: .5em;
        }

        &:after {
          left: 100%;
        }

        &:before {
          left: -.5em
        }
      }

      &.dragging {
        background-color: pink;
      }
    }

    .view-status {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      background: white;
      align-items: center;
      justify-content: center;
    }
  }
}