// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------
%ui-views-view-div {
  margin: $layout-spacing/2 $layout-spacing;

  &:first-child {
    margin-top: $layout-spacing;
  }

  &:last-child {
    margin-bottom: $layout-spacing;
  }
}


// Styles --------------------------------------
.ui-views {
  position: relative;
  flex: 1;

  .view {
    display: flex;
    flex-direction: row;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    overflow: hidden;
    z-index: $z-index-view;

    &.active {
      opacity: 1;
      z-index: $z-index-view-active;

      &.animate {
        animation: in-up 0.2s $animation-easing;
      }
    }

    &.has-status {

      .view-status {
        display: flex;
      }
    }

    .view-main {
      flex: 2.5;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;

      &.wide {
        flex: 2;
      }

      &.hidden {
        display: none;
      }
    }

    .view-aside {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $color-gray-lightest;

      &.hidden {
        display: none;
      }
    }

    .view-header {
      @extend %ui-views-view-div;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      white-space: nowrap;

      h1 {
        margin: 0;
      }
    }

    .view-content {
      @extend %ui-views-view-div;
      flex: 1;
      overflow: auto;
      position: relative;

      &.hidden {
        display: none;
      }

      & > p:first-child {
        margin-top: 0;
      }

      & > p:last-child {
        margin-bottom: 0;
      }
    }

    .view-footer {
      padding: $layout-spacing/2 $layout-spacing;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      white-space: nowrap;
      border-top: 1px solid $color-border;

      h1 {
        margin: 0;
      }
    }

    .view-status {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      background: white;
      align-items: center;
      justify-content: center;
    }
  }
}
