// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------
%ui-views-view-div {
  padding: 0 $layout-spacing;
}

// Styles --------------------------------------
.ui-views {
  position: relative;
  flex: 1;

  .view {
    display: flex;
    flex-direction: row;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    overflow: hidden;
    z-index: $z-index-view;

    &.active {
      opacity: 1;
      z-index: $z-index-view-active;
      
      &.animate {
        animation: in-up 0.2s $animation-easing;
      }
    }

    &.has-status {

      .view-status {
        display: flex;
      }
    }

    .view-main {
      flex: 1;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      position: relative;

      &.wide {
        flex: 2;
      }

      &.narrow {
        width: 25em;
        margin: auto;
      }

      &.hidden {
        display: none;
      }
    }

    .view-aside {
      width: 24em;
      background-color: $color-gray-lightest;
      display: flex;
      flex-direction: column;
      position: relative;

      &.hidden {
        display: none;
      }

      &.dark {
        background-color: $color-gray-lighterest;
      }

      &.wide {
        width: 30em;
      }

      &.minimized {
        width: 2em;

        .view-bar {
          flex-direction: column;
          align-items: center;

          h4 {
            display: block;
            transform: rotate(90deg);
            order: 2;
            margin-top: 1em;
          }

          .actions {
            order: 1;
          }

          .minus {
            display: none;
          }

          .plus {
            display: inline-block;
          }
        }

        .view-header,
        .view-content {
          display: none;
        }
      }
    }

    .view-bar {
      @extend %ui-views-view-div;
      font-size: .8em;
      line-height: 1.75em;
      display: flex;
      color: $color-gray-dark;

      h4 {
        margin: 0;
        font-weight: 100;
        flex: 1;
        display: none;
      }

      .actions {
        flex: 1;
        text-align: right;

        i {
          transition: opacity 0.3s;
          opacity: .7;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }

        .plus {
          display: none;
        }
      }
    }

    .view-header {
      @extend %ui-views-view-div;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      white-space: nowrap;
      padding-bottom: 0;
    }

    .view-content {
      @extend %ui-views-view-div;
      flex: 1;
      overflow: auto;
      position: relative;

      &.hidden {
        display: none;
      }

      & > p:first-child {
        margin-top: 0;
      }
    }

    .view-handle {
      background-color: $color-gray;
      position: relative;

      &.vertical {
        height: 1px;

        &:after,
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          z-index: $z-index-handle;
          height: .3em;
        }

        &:after {
          top: 100%;
        }

        &:before {
          top: -.3em
        }
      }

      &.horizontal {
        width: 1px;

        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          z-index: $z-index-handle;
          width: .5em;
        }

        &:after {
          left: 100%;
        }

        &:before {
          left: -.5em
        }
      }

      &.dragging {
        background-color: $color-pink;
      }
    }

    .view-status {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      background: white;
      align-items: center;
      justify-content: center;
    }
  }
}