// Variables -------------------------------------


// Mixins --------------------------------------


// Placeholders --------------------------------------


// Styles --------------------------------------
html, body {
  height: 100%;
}

body {
  font-family: $font-sans-family;
  font-weight: 300;
  color: $color-text;
  padding: 0;
  margin: 0;
  font-size: 100%;
  position: relative;
}

h1 {
  font-size: 1.35em;
  font-weight: 300;
  margin: .5em 0;

  i {
    font-weight: 300;
    font-size: .85em;
    color: $color-gray;
  }
}

h2 {
  font-weight: 300;
  font-size: 1.15em;
  color: $color-gray-dark;

  span {
    font-size: 0.75em;
    color: $color-text;
  }
}

p {

  &:empty {
    margin: 0;
  }

  &.center {
    text-align: center;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $color-link;

  &:visited,
  &:active {
    color: $color-link;
  }
}

*:focus {
  outline: 0;
}